<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="moon"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="informacion-personal" href="/tabs/informacion-personal">
      <ion-icon aria-hidden="true" name="moon"></ion-icon>
      <ion-label>Información personal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto" href="/tabs/contacto">
      <ion-icon aria-hidden="true" name="moon"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
