
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información personal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="background">

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col class="col-tarjeta-diama">
        
        <ion-card class="ion-padding">
          <img class="img-redondeada" alt="Silhouette of mountains" src="/assets/diama2.jpeg" />
          
            <ion-card-title>
              <ion-text color="primary">
                <h1>¡Diamarys Yorlis Rios Rojas TSU en Informática!</h1>
              </ion-text>
            </ion-card-title>
            <ion-card-subtitle><h2>Acerca de mí:</h2></ion-card-subtitle>

            <p>Soy una profesional con espíritu crítico y creativo, altruista y con apertura al diálogo con capacidad para
            trabajar en proyectos innovadores y colaborar con profesionales de las más diversas áreas <ion-icon name="moon"></ion-icon></p>

            <ion-text color="primary">
              <h2>Experiencia</h2>
            </ion-text>

            <ion-card color="primary">
              <ion-card-header>
                <ion-card-title> Especialista de sistemas</ion-card-title>
                <ion-card-subtitle>Ministerio Público</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content> Participo en el desarrollo de sistemas de diversa complejidad, efectuando análisis de requerimientos, 
                diseños físicos, diseños lógicos y ejecuto tareas de programación. Coordino el trabajo de programadores en proyectos de diversa naturaleza y dimensión. 
              </ion-card-content>
            </ion-card>
            
            <ion-card color="tertiary">
              <ion-card-header>
                <ion-card-title>Marketing Digital</ion-card-title>
                <ion-card-subtitle>GTSUPPORT C.A</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content> Responsable de construir, gestionar y administrar la comunidad online alrededor de una marca en Internet,
                creando y manteniendo relaciones estables y duraderas con sus clientes, sus fans y, en general, cualquier usuario
                interesado en la marca.Responsable de construir, gestionar y administrar la comunidad online alrededor de una marca 
                en Internet, creando y manteniendo relaciones estables y duraderas con sus clientes, sus fans y, en general, 
                cualquier usuario interesado en la marca. </ion-card-content>
            </ion-card>

            <ion-card color="dark">
              <ion-card-header>
                <ion-card-title>Docente</ion-card-title>
                <ion-card-subtitle>U.E Colegio Juan XXIII</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content> Profesora de informática en educación primaria y secundaria. </ion-card-content>
            </ion-card>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-content>
  


