
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información personal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="background">

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col id="col-tarjeta-diama">
        
        <ion-card>
          <img alt="Silhouette of mountains" src="/assets/diama2.jpeg" />
          <ion-card-header>
            <ion-card-title>¡Diamarys Yorlis Rios Rojas TSU en Informática!</ion-card-title>
            <ion-card-subtitle>Acerca de mí:</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Profesional con espíritu crítico y creativo, altruista y con apertura al diálogo Con capacidad para
            Trabajar en proyectos innovadores y colaborar con profesionales de las más diversas áreas.
          </ion-card-content>

          <ion-card> 
            <h6>EXPERIENCIA</h6>
          <p>ESPECIALISTA DE SISTEMAS</p>
          <p>Empresa: Sede principal del Ministerio Público. Actualmente</p>
          <p>Participa en desarrollo de sistemas de diversa complejidad, efectuando análisis de requerimientos, 
            diseños físicos, diseños lógicos y ejecuta tareas de programación. Condiciones de dirigir y coordinar el trabajo de programadores en proyectos de diversa naturaleza y dimensión.</p>  

          <p>MARKETING DIGITAL</p>
          <p>Empresa: GTSUPPORT C.A</p>    
          <p>Responsable de construir, gestionar y administrar la comunidad online alrededor de una marca en Internet,
            creando y manteniendo relaciones estables y duraderas con sus clientes, sus fans y, en general, cualquier usuario
            interesado en la marca.Responsable de construir, gestionar y administrar la comunidad online alrededor de una marca 
            en Internet, creando y manteniendo relaciones estables y duraderas con sus clientes, sus fans y, en general, 
            cualquier usuario interesado en la marca.</p>

          <p>DOCENTE</p>
          <p>Profesora de informática a bachilleres y computacion a primaria.</p>
          <p>Empresa: U.E Colegio Juan XXIIIU.E Colegio Juan XXIII</p>
          </ion-card>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-content>
  


