
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacto</ion-title>
    </ion-toolbar>

  </ion-header>
    <ion-content class="background">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col id="col-tarjeta-diama">


  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Contacto</ion-card-title>
    </ion-card-header>
  
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="/assets/diama2.jpeg" />
        </ion-thumbnail>
        <ion-card-content>
          <ion-label>Teléfono: 04127103505</ion-label>
          <p>Email: diamarysrios&#64;gmail.com</p>
          <p>Dirección: caracas la Candelaria</p>
        </ion-card-content>
   
      </ion-item>
  </ion-list>
  </ion-card>

  <ion-card color=" ">
    <ion-card-header>
      <ion-card-title>Para más Información</ion-card-title>
    </ion-card-header>
  
<ion-textarea label="Nombre" labelPlacement="floating" fill="outline" placeholder="Ingresar Nombre"></ion-textarea>
<br/>
<ion-textarea label="Teléfono" labelPlacement="floating" fill="outline" placeholder="Ingresar Número de Teléfono"></ion-textarea>
<br/>
<ion-textarea
  fill="outline"
  label="Email"
  labelPlacement="floating"
  helperText=" " >

</ion-textarea>
<br/>
<ion-textarea label="Mensaje" labelPlacement="floating" fill="outline" placeholder="Ingresar Mensaje"></ion-textarea>

<div class="centrado"> 
<ion-button fill="outline">Enviar</ion-button>
</div>
  </ion-card>
    </ion-col>
      </ion-row>

</ion-content>

 